*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


/* container */
#container{
    height:100vh;
    background-color: darkgoldenrod ;
    display: flex;
}

/* NAV-LEFT SM,MD,LG*/
.nav-left{
    height: 100%;
    width: 230px;
    background-color: rgb(0, 0, 0);
    padding: 1.5%;
    position: relative;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo{
    max-width: 80%;
    margin-bottom: 10%;
    cursor: pointer;
}

.nav-left div i{
    color:#D2D2D2;
    margin-bottom: 8%;
    padding-right:8%;
}

.nav-left div a{
    color:#6B6B6B;
    text-decoration: none;
}

.nav-left ul{
    margin-top: 8%;
    overflow: auto;
}

.playlist-name{
    color:#6B6B6B;
    list-style: none;
    margin-bottom: 10%;
    padding-right:8%;
}

i{
    color:#D2D2D2;
    font-size: 150%;
}

i.fa-square-plus{
    margin-top: 10%;
    font-size: 200%;
}

.green-active{
    display: none;
    position: absolute;
    height: 25px;
    width: 5px;
    background-color:greenyellow;
    left: 0;
}

/* FOOTER-NAV-LEFT */
.footer-nav-left div i,
.icons-buttom i{
    padding-right: 3%;
    font-size: 100%;
}

.footer-nav-left hr{
        height: 0.5px;
        background-color:#6B6B6B;
        border: none;
        margin-bottom: 5%;
}

.icon-user.fa-solid.fa-circle-user{
       font-size: 200%;
}


.name-user{
    color: white;
    font-size: 110%;
    
}


/* NAV-LEFT-XS */

.continer-nav-left-xs{
    padding: 0.5%;
    display: none;

}

.nav-left-xs{
   height: 100%;
   width: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color:black;
   text-align: center;
}



.icons-top div img{
    max-width: 65%;
}

.icons-top div{
    padding-bottom: 25%;
}





/* Provando a centrare il testo
#create-playlist{
   padding-bottom:10%;
} */

.nav-left h4{
    color:white;
}

/* :ACTIVE EFFETCS */
#home:active .green-active,
#search:active .green-active,
#library:active .green-active{
    display : block;}


.nav-left div a:active{
    color: rgb(255, 255, 255);
}




/* CENTER */
.center{
    height: 100%;
    width: calc(100% - 230px);
    background-color: #141922;
    overflow: auto;
}


            /* HEADER-MAIN */
.header-center{
    height: 80px;
    width: calc(100% - 230px);
    position: fixed;
    z-index: 200;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
}

button{
    height: 45px;
    color: white;
    border: 1px solid white;
    background-color:black;
    border-radius: 25px;
    padding-left: 4%;
    padding-right: 4%;
    margin-right: 2%;
    cursor: pointer;
}
            /* END HEADER-MAIN */


    /* NAV_MAIN */
.nav-center{
    padding-top: 90px;
}

.nav-center ul{
    display: flex;
    justify-content: center;
}

.nav-center ul li{
    list-style: none;
    padding-right: 3%;
    position: relative;
}


.nav-center ul li a {
    color:#6B6B6B;
    text-decoration: none;
}

.nav-center hr{
    display:none;
    width: 40%;
    margin: auto;
    height: 2px;
    border:none;
    background-color:greenyellow;
    margin-top: 5px;
    }

/* Active Effects */
#in-evidenza:active hr,
#podcast:active hr,
#classifiche:active hr,
#generi-e-moods:active hr,
#nuove-uscite:active hr,
#scopri:active hr
{
    display : block;}

    /* MAIN_CENTER */
.row-container-main{
    padding: 1%;
    display: flex;
    gap: 1.5%;
}

.col-container-main{
    width: calc((100% / 6) - 1.5%);
   
    text-align: center;
}

.col-container-main div img{
    max-width: 100%;
    padding-bottom: 3%;
}

.main-container h3,
.main-container h2
{
    color:white;
}

.main-container h5{
    color:#6B6B6B;
}

.img-border-radius img{
    border-radius:50%;
}


/* Footer */
footer{
    
    height: 100px;
    width: 100%;
    background-color:rgb(192, 0, 0);
    position: fixed;
    z-index: 250;
}


/* MEDIA QUERY */

            /* XS */
@media all and (max-width: 576px) {
    .center{
        width:calc(100% - 40px) ;
    }

    .header-center{
        width:calc(100% - 40px)
    }
    
    .nav-left{
        display: none;
    }
    
    .continer-nav-left-xs{
        display: block;
    }
    }


