*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}




/* container */
#container{
    height:calc(100vh - 90px);
    background-color:black;
    display: flex;
}

/* NAV-LEFT SM,MD,LG*/
.nav-left{
    height: 100%;
    width: 230px;
    background-color: rgb(0, 0, 0);
    padding: 1.5%;
    padding-bottom: 0;
    position: relative;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo{
    max-width: 80%;
    margin-bottom: 10%;
    cursor: pointer;
}

.nav-left div i{
    color:#D2D2D2;
    margin-bottom: 8%;
    padding-right:8%;
}

.nav-left div a{
    color:#6B6B6B;
    text-decoration: none;
}

.nav-left div a:hover,
.nav-left ul li:hover
{
    color:white;
}

.nav-left ul{
    margin-top: 8%;
    overflow: auto;
}

.playlist-name{
    color:#6B6B6B;
    list-style: none;
    margin-bottom: 10%;
    padding-right:8%;
}

i{
    color:#D2D2D2;
    font-size: 150%;
}

i.fa-square-plus{
    margin-top: 10%;
    font-size: 200%;
}

.green-active{
    display: none;
    position: absolute;
    height: 25px;
    width: 5px;
    background-color:greenyellow;
    left: 0;
}

/* FOOTER-NAV-LEFT */
.footer-nav-left div i,
.icons-buttom i{
    padding-right: 3%;
    font-size: 100%;
}

.footer-nav-left hr{
        height: 0.5px;
        background-color:#6B6B6B;
        border: none;
        margin-bottom: 5%;
}

.icon-user.fa-solid.fa-circle-user{
       font-size: 200%;
}


.name-user{
    color: white;
    font-size: 110%;
    
}


/* NAV-LEFT-XS */

.continer-nav-left-xs{
    padding: 0.5%;
    display: none;

}

.nav-left-xs{
   height: 100%;
   width: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color:black;
   text-align: center;
}



.icons-top div img{
    max-width: 65%;
}

.icons-top div{
    padding-bottom: 25%;
}





/* Provando a centrare il testo
#create-playlist{
   padding-bottom:10%;
} */

.nav-left h4{
    color:white;
}

/* :ACTIVE EFFETCS */
#home:active .green-active,
#search:active .green-active,
#library:active .green-active{
    display : block;}


.nav-left div a:active{
    color: rgb(255, 255, 255);
}




/* CENTER */
.center{
    height: 100%;
    width: calc(100% - 230px);
    background-color: #141922;
    overflow: auto;
}


            /* HEADER-MAIN */
.header-center{
    height: 80px;
    width: calc(100% - 230px);
    position: fixed;
    z-index: 200;
    top: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.5);
}

button{
    height: 45px;
    color: white;
    border: 1px solid white;
    background-color:black;
    border-radius: 25px;
    padding-left: 4%;
    padding-right: 4%;
    margin-right: 2%;
    cursor: pointer;
}

button:hover{
    height: 52px;
    font-size: 90%;
}
            /* END HEADER-MAIN */


    /* NAV_MAIN */
.nav-center{
    padding-top: 90px;
}

.nav-center ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-center ul li{
    list-style: none;
    padding-right: 3%;
    position: relative;
}

.nav-center ul li a {
    color:#6B6B6B;
    text-decoration: none;
}

.nav-center ul li a:hover{
color:white;
}

.nav-center hr{
    display:none;
    width: 40%;
    margin: auto;
    height: 2px;
    border:none;
    background-color:greenyellow;
    margin-top: 5px;
    }

/* Active Effects */
#in-evidenza:active hr,
#podcast:active hr,
#classifiche:active hr,
#generi-e-moods:active hr,
#nuove-uscite:active hr,
#scopri:active hr
{
    display : block;}

    /* MAIN_CENTER */
.blocco{
    padding: 1%;
}

.row-container-main{
    display: flex;
    gap: 1.5%;
    margin-bottom: 2%;
}

.col-container-main{
    width: calc((100% / 6) - 1.5%);
    text-align: center;
}

.col-container-main div img{
    max-width: 100%;
    padding-bottom: 5px;
    padding-top: 10px;
}
.container-img,
.img-border-radius{
    position: relative;
}

.play-icon-hover.fa-regular.fa-circle-play{
    display: none;
    font-size: 260%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-img:hover .play-icon-hover.fa-regular.fa-circle-play{
    display: block;
}
   



.container-img,
.img-border-radius{
   background-color:rgba(142, 0, 0, 0.5);
   top: 0;
   right: 0;
   width: 100%;

}

/* .container-img:hover .play-icon-hover{
    display: inline-block;
} */


.main-container h3,
.main-container h2
{
    color:white;
    padding-bottom: 5px;
    padding-top: 10px;
}

.main-container h5{
    color:#6B6B6B;
    padding-bottom: 10px;
}

.img-border-radius img{
    border-radius:50%;
}


/* Footer */
footer{
    height: 90px;
    width: 100%;
    background-color:#282828;
    position: fixed;
    z-index: 250;
    bottom: 0;
}


.container-footer{
    height: 90px;
    width: calc(100% - 30px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.left-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:15% ;
}
.descrizione-brano{display: flex;
}

.title{
    flex-direction: column;
    flex-wrap: wrap;
}

.left-footer i{
    color:#6B6B6B;
    margin-left: 20px;
    font-size: 120%;
}

footer img{
    max-width: 100%;
    max-height: 50px;
    margin-right: 5px;
}

footer h5,
#artist-name{
    color:white;
}

.icons-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.center-footer{
    width: 30%;
}
.sound-button{display: flex;
    width: 50%;
    margin: 0 auto;
    font-size: 80%;
    margin-bottom: 5px;
    margin-top: 2%;
    justify-content: space-between;
align-items: center;}

 .play-icon{
    font-size: 250%;
 }

 .play-icon:hover{
    font-size: 290%;
 }

.bar{display: flex;}

.song-slider{
    width: 100%;
    position: relative;
    margin-left:20px;
    margin-right: 20px;
    bottom: 5px;
}

.seek-bar{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background:#6B6B6B;;
    overflow: hidden;
    cursor: pointer;
    padding-left: 50px;
    
}

.seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    box-shadow: -400px 0 0 400px #d3d3d3;
}



.right-footer{
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.right-footer .song-slider{
    width: 40%;
}

.right-footer i{
    font-size: 80%;
}

footer i{
    cursor: pointer;
}

footer i:hover{
    color:white;
}






/* MEDIA QUERY */
                /* MD */
@media all and (max-width:878px) {
    .row-container-main{
        flex-wrap: wrap;
    }
    .col-container-main{
        width: calc((100% / 4) - 1.5%)}
}  

                /* SM */
@media all and (max-width:639px) {
    .row-container-main{
        flex-wrap: wrap;
    }
    .col-container-main{
        width: calc((100% / 2) - 1.5%)}
}  
            

              /* XS */
@media all and (max-width: 552px) {
    .center{
        width:calc(100% - 40px) ;
    }

    .header-center{
        width:calc(100% - 40px)
    }
    
    .nav-left{
        display: none;
    }
    
    .continer-nav-left-xs{
        display: block;
    }
}











